/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
  --main-font: "Montserrat", "Arial", sans-serif;
  --second-font: "Roboto", "Arial", sans-serif;
  --third-font: "Kaushan Script", "Arial", sans-serif;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"),
    url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff");
}

body {
  min-width: 1920px;
  margin: 0 auto;
}

.hero {
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url(../images/photo/eaglecover.png);
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../images/photo/eaglecover.png);
  background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../images/photo/eaglecover.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 28px 80px 230px;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(252, 227, 138, 0.9)),
        to(rgba(243, 129, 129, 0.9))
      ),
      url(../images/photo/eaglecover@2x.png);
    background-image: -o-linear-gradient(
        bottom,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../images/photo/eaglecover@2x.png);
    background-image: linear-gradient(
        to top,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../images/photo/eaglecover@2x.png);
  }
}

.header {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin: 0 auto 152px;
}

.header__logo {
  color: rgb(255, 255, 255);
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 700;
}

.navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 488px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 52px;
}

.navigation__link {
  color: rgb(255, 255, 255);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.navigation__link::after,
.navigation__btn::after,
.navigation__addlist-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(252, 227, 138);
  margin-top: 8px;
  visibility: hidden;
  opacity: 0;
}

.navigation__link:hover {
  color: rgb(252, 227, 138);
}

.navigation__addlist {
  width: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navigation__svg {
  width: 18px;
  height: 15px;
  fill: rgb(255, 255, 255);
}

.navigation__addlist-link:hover .navigation__svg {
  fill: rgb(252, 227, 138);
}

.navigation__link:hover::after,
.navigation__addlist-link:hover::after {
  visibility: visible;
  opacity: 1;
}

.navigation__btn {
  width: 18px;
  height: 18px;
  background-color: unset;
}

.navigation__btn-svg {
  width: 18px;
  height: 18px;
  fill: rgb(255, 255, 255);
}

.navigation__btn:hover .navigation__btn-svg {
  fill: rgb(252, 227, 138);
}

.navigation__btn:hover::after {
  visibility: visible;
  opacity: 1;
}

.hero__text {
  color: rgb(255, 255, 255);
  font-family: var(--third-font);
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 36px;
  margin-left: 6px;
}

.hero__title {
  color: rgb(255, 255, 255);
  font-family: var(--main-font);
  font-size: 150px;
  line-height: 141px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  width: 802px;
  margin: 0 auto 108px;
  letter-spacing: -5px;
}

.hero__btn {
  width: 160px;
  height: 40px;
  border: 3px solid rgb(255, 255, 255);
  background-color: unset;
  color: rgb(255, 255, 255);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 6px;
}

/* SERVICES */

.services,
.team {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 46px 0 41px;
}

.services__title,
.team__title {
  color: rgb(51, 51, 51);
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 63px;
  margin-left: 6px;
}

.services__title--italic,
.team__title--italic {
  display: block;
  font-family: var(--third-font);
  color: rgb(51, 51, 51);
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 16px;
}

.services__title::after,
.team__title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
  margin-top: 36px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.services__item {
  width: 330px;
  padding-left: 60px;
  text-align: left;
}

.services__item:nth-child(-n + 3) {
  margin-bottom: 95px;
}

.services__item-title {
  color: rgb(51, 51, 51);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.services__item-description,
.team__description {
  color: rgb(153, 153, 153);
  font-family: var(--second-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.photography {
  background-image: url(../images/icons/photography.svg);
  background-repeat: no-repeat;
}

.design {
  background-image: url(../images/icons/webdesign.svg);
  background-repeat: no-repeat;
}

.creativity {
  background-image: url(../images/icons/creativity.svg);
  background-repeat: no-repeat;
}

.seo {
  background-image: url(../images/icons/seo.svg);
  background-repeat: no-repeat;
}

.csshtml {
  background-image: url(../images/icons/csshtml.svg);
  background-repeat: no-repeat;
}

.digital {
  background-image: url(../images/icons/digital.svg);
  background-repeat: no-repeat;
}

/* TEAM */

.team {
  padding-bottom: 78px;
}

.team__title {
  margin-bottom: 42px;
}

.team__description {
  width: 954px;
  margin: 0 auto 90px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 26px;
}

.team__item {
  width: 380px;
  height: 470px;
  position: relative;
}

.team__item-photo {
  top: 0;
  left: 0;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.team__item:hover .team__item-photo {
  position: absolute;
  top: -10px;
  left: -10px;
}

.team__item:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.team__list-namepos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team__item-namepos {
  width: 380px;
  text-align: center;
}

.team__item-name {
  color: rgb(51, 51, 51);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.team__item-position {
  color: rgb(153, 153, 153);
  font-family: var(--second-font);
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

/* OVERLAY */

.overlay {
  width: 380px;
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-property: top, left, -webkit-box-shadow;
  transition-property: top, left, -webkit-box-shadow;
  -o-transition-property: top, left, box-shadow;
  transition-property: top, left, box-shadow;
  transition-property: top, left, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.overlay:hover {
  top: -10px;
  left: -10px;
  -webkit-box-shadow: 10px 10px rgb(149, 225, 211);
  box-shadow: 10px 10px rgb(149, 225, 211);
}

.overlay__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: rgb(252, 227, 138);
}

.overlay__item:hover {
  background-color: rgb(243, 129, 129);
}

.overlay__item:hover .overlay__svg {
  fill: rgb(255, 255, 255);
}

.overlay__svg {
  width: 26px;
  height: 26px;
  fill: rgb(243, 129, 129);
}

/* FOOTER */

.footer {
  width: 1200px;
  height: 62px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgb(229, 229, 229);
}

.footer__text {
  color: rgb(51, 51, 51);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
}

.footer__link {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  color: rgb(243, 129, 129);
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form-input {
  width: 230px;
  height: 40px;
  border: 1px solid rgb(231, 231, 231);
  padding-left: 13px;
  color: rgb(0, 0, 0);
  font-family: var(--second-font);
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.footer__form-input::placeholder,
.footer__form-input::-webkit-input-placeholder,
.footer__form-input::-moz-placeholder,
.footer__form-input:-ms-input-placeholder,
.footer__form-input::-ms-input-placeholder {
  color: rgb(204, 204, 204);
}

.footer__form-input:focus {
  outline: none;
}

.footer__btn {
  width: 150px;
  height: 40px;
  background-color: rgb(149, 225, 211);
  color: #ffffff;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
